@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  /* Colors */
  --bg-color: #F2F1FD;
  --black-color: #04031B;
  --primary-color: #110E71;
  /* font */
  --principal-font: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--black-color);
  font-family: var(--principal-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

h2{
  font-size: 62px;
  margin: 20px 0 0 0;
}

image{
  display: block;
  width: 100%;
  max-width: 100%;
}